<%- include("includes/head.ejs"); %>

<body>
    <h1>this page belongs to @<%= data.name %></h1>
    <button>Follow</button>
    <button>message</button>

    <p>followers: <%= data.followers %> &nbsp; &nbsp; &nbsp;
            following : <%= data.following %></p>

    <hr> <!-- Use <hr> instead of </hr> for horizontal line -->

    <% for(let post of data.posts){ %>
        <img src="<%= post.image %>" alt="some error"/>
        <p> likes : <%= post.likes %> &nbsp; &nbsp; &nbsp;
            comments : <%= post.comments %> </p> <!-- Include <%= %> tag for post.comments -->
    <% } %>
    
</body>
</html>
